# Differential (gene) Expression

[intro...]

differential_expression()

Description
- This module performs differential expression analysis between two or more phenotypes. For example, you could use this module to find the most differentially expressed genes between a groups of healthy and cancerous cell lines. 
Parameters
- input_gene_expression
  + Gene expression data filename (.gct or .txt file) or python DataFrame object where rows are genes and columns are samples.
- phenotypes_labels
  + Phenotype of each sample in input_gene_expression file (array, Series where indices match , or row of GCT file)
- n_top_hits_to_display
  + The number of most differentially expressed genes to show in the output plot (e.g., if this value is 5, a total of 10 genes (up/down-regulated) will be shown for each phenotype comparison).
  + default = 20
- ranking_method 
  + The function used to perform the differential expression analysis. The choice of ranking_method also specifies the statistical significance calculation.
    - default = information_coefficient
    - Pearson_correlation
    - signal_to_noise_ratio
    - t_test_statistic
    - Spearman correlation
- multi_phenotype_mode
  + Perform multiple differential expression runs for multiple phenotypes and produces the same outputs as a 2 phenotype run but with results stacked (with “genes_to_show” x 2 entries for each comparison). When using multiple phenotypes the outputs (heatmap or tables) have the same format but show a stack of results corresponding to each class comparison.
    - default = one_vs_all
    - all_pairs
- Outputs
  + Differential_expression_heatmap
    - A .png file of a heatmap showing the “n_top_hits_to_display” most differentially expressed genes in each phenotype comparison. Includes the confidence intervals for the metric and statistical significance results.
  + Differential_expression_results
    - A tab-separated TXT file which contains the results of the entire differential expression analysis, the confidence intervals for the metric and statistical significance results.
- Returns
  + This function returns (python) a data frame showing the same genes as the heatmap (gene_to_show x 2 entries).

## Use these files:
- http://datasets.genepattern.org/all_aml/all_aml_test.cls
- http://datasets.genepattern.org/all_aml/all_aml_test.gct

In [3]:
import genepattern
import cuzcatlan as cusca
import pandas as pd
import urllib.request
from cuzcatlan import compute_information_coefficient
from cuzcatlan import custom_pearson_corr
import validators
RANDOM_SEED = 20121020

#Note: definining here for simplicity, but this is a mirror of the function in cuzcatlan.
def differential_gene_expression(
        phenotypes:"CLS filename; input binary phenotype/class distinction",
        gene_expression:"GCT filename; data matrix with input gene expression profiles",
        output_filename:"Output files will have this name plus extensions .txt and .pdf",
        ranking_method:"The function to use to compute similarity between phenotypes and gene_expression",
        max_number_of_genes_to_show:"Maximum number of genes to show in the heatmap"=20,
        number_of_permutations:"Number of random permutations to estimate statistical significance (p-values and FDRs)"=10,
        title:"The title of the heatmap"=None,
        random_seed:"Random number generator seed (can be set to a user supplied integer for reproducibility)"=RANDOM_SEED):
    """
    Perform differential analysis on gene expression data of two phenotypes.
    """
    
#     :param output_filename: 
#     :param ranking_method:callable;
#     :param max_number_of_genes_to_show: int; 
#     :param number_of_permutations: int; 
#     :param title: str;
#     :param random_seed: int | array; f
#     :return: Dataframe; table of genes ranked by Information Coeff vs. phenotype

    data_df = pd.read_table(gene_expression, header=2, index_col=0)
    data_df.drop('Description', axis=1, inplace=True)
    
    if validators.url(phenotypes):
        urlfile, __ = urllib.request.urlretrieve(phenotypes)
    else:
        urlfile = phenotypes
        
    temp = open(urlfile)
    temp.readline()
    temp.readline()
    classes = [int(i) for i in temp.readline().strip('\n').split(' ')]
    classes = pd.Series(classes, index=data_df.columns)

    gene_scores = cusca.make_match_panel(
        features=data_df,
        target=classes,
        function=ranking_method,
        target_ascending=False,
        n_top_features=0.99,
        max_n_features=max_number_of_genes_to_show,
        n_samplings=30,
        n_permutations=number_of_permutations,
        random_seed=random_seed,
        target_type='binary',
        title=title,
        file_path_prefix=output_filename)

    return gene_scores

# genepattern.GPUIBuilder(cusca.differential_gene_expression, name="Differential Gene Expression! =D")
genepattern.GPUIBuilder(differential_gene_expression, name="Differential Gene Expression! =D")

GPUIBuilder(description='Perform differential analysis on gene expression data of two phenotypes.', function_import='differential_gene_expression', name='Differential Gene Expression! =D', params=[{'name': 'phenotypes', 'label': 'phenotypes', 'optional': False, 'default': '', 'description': 'CLS filename; input binary phenotype/class distinction', 'hide': False, 'choices': []}, {'name': 'gene_expression', 'label': 'gene_expression', 'optional': False, 'default': '', 'description': 'GCT filename; data matrix with input gene expression profiles', 'hide': False, 'choices': []}, {'name': 'output_filename', 'label': 'output_filename', 'optional': False, 'default': '', 'description': 'Output files will have this name plus extensions .txt and .pdf', 'hide': False, 'choices': []}, {'name': 'ranking_method', 'label': 'ranking_method', 'optional': False, 'default': '', 'description': 'The function to use to compute similarity between phenotypes and gene_expression', 'hide': False, 'choices': []}, {'name': 'max_number_of_genes_to_show', 'label': 'max_number_of_genes_to_show', 'optional': True, 'default': 20, 'description': 'Maximum number of genes to show in the heatmap', 'hide': False, 'choices': []}, {'name': 'number_of_permutations', 'label': 'number_of_permutations', 'optional': True, 'default': 10, 'description': 'Number of random permutations to estimate statistical significance (p-values and FDRs)', 'hide': False, 'choices': []}, {'name': 'title', 'label': 'title', 'optional': True, 'default': None, 'description': 'The title of the heatmap', 'hide': False, 'choices': []}, {'name': 'random_seed', 'label': 'random_seed', 'optional': True, 'default': 20121020, 'description': 'Random number generator seed (can be set to a user supplied integer for reproducibility)', 'hide': False, 'choices': []}])

In [4]:
de_results = differential_gene_expression(phenotypes="http://datasets.genepattern.org/all_aml/all_aml_test.cls", gene_expression="http://datasets.genepattern.org/all_aml/all_aml_test.gct", output_filename="Temp", ranking_method=custom_pearson_corr, max_number_of_genes_to_show=20, number_of_permutations=10, title="Temp_title", random_seed=20121020)

Index(['ALL 19769 TA+ Norel', 'ALL 406 TA+ (ML) Norel', 'ALL 4466 Norel',
       'ALL 1245 TA- Norel', 'ALL 16125 TA- Norel', 'ALL 23368 TA- Norel',
       'ALL R28 (ML) Relap', 'ALL 1234 ML', 'ALL 1305 ML', 'ALL 1421 ML',
       'ALL 1425 ML', 'ALL 1486 ML', 'ALL 1457 ML', 'ALL 1256 TA+ (ML) Norel',
       'ALL 1275 TA+ (ML) Norel', 'ALL 1101 TA- (ML) Norel',
       'ALL 1319 TA- (ML) Norel', 'ALL 522 TA- (ML) Norel', 'ALL SH 6',
       'ALL SH 12', 'ALL SH 15', 'AML 15 (PK) Norel', 'AML 19 (PK) Norel',
       'AML 10 (PK) Relap', 'AML 9 (PK) Relap', 'AML SH 5', 'AML SH 13',
       'AML SH 14', 'AML SH 16', 'AML SH 18', 'AML 17 ML', 'AML 25 ML',
       'AML 11 (ML)', 'AML 12 (ML)', 'AML 5 (ML) Relap'],
      dtype='object')
Index(['ALL 19769 TA+ Norel', 'ALL 406 TA+ (ML) Norel', 'ALL 4466 Norel',
       'ALL 1245 TA- Norel', 'ALL 16125 TA- Norel', 'ALL 23368 TA- Norel',
       'ALL R28 (ML) Relap', 'ALL 1234 ML', 'ALL 1305 ML', 'ALL 1421 ML',
       'ALL 1425 ML', 'ALL 1486 ML', 'ALL 1457 ML', 'ALL 1256 TA+ (ML) Norel',
       'ALL 1275 TA+ (ML) Norel', 'ALL 1101 TA- (ML) Norel',
       'ALL 1319 TA- (ML) Norel', 'ALL 522 TA- (ML) Norel', 'ALL SH 6',
       'ALL SH 12', 'ALL SH 15', 'AML 15 (PK) Norel', 'AML 19 (PK) Norel',
       'AML 10 (PK) Relap', 'AML 9 (PK) Relap', 'AML SH 5', 'AML SH 13',
       'AML SH 14', 'AML SH 16', 'AML SH 18', 'AML 17 ML', 'AML 25 ML',
       'AML 11 (ML)', 'AML 12 (ML)', 'AML 5 (ML) Relap'],
      dtype='object')
AML 5 (ML) Relap           1
AML SH 13                  1
AML 12 (ML)                1
AML 15 (PK) Norel          1
AML 10 (PK) Relap          1
AML 9 (PK) Relap           1
AML SH 5                   1
AML 19 (PK) Norel          1
AML SH 14                  1
AML SH 16                  1
AML SH 18                  1
AML 17 ML                  1
AML 25 ML                  1
AML 11 (ML)                1
ALL 1425 ML                0
ALL 406 TA+ (ML) Norel     0
ALL 4466 Norel             0
ALL 1245 TA- Norel         0
ALL 16125 TA- Norel        0
ALL 23368 TA- Norel        0
ALL R28 (ML) Relap         0
ALL 1234 ML                0
ALL 1305 ML                0
ALL 1421 ML                0
ALL 522 TA- (ML) Norel     0
ALL 1486 ML                0
ALL 1457 ML                0
ALL 1256 TA+ (ML) Norel    0
ALL 1275 TA+ (ML) Norel    0
ALL 1101 TA- (ML) Norel    0
ALL 1319 TA- (ML) Norel    0
ALL SH 6                   0
ALL SH 12                  0
ALL SH 15                  0
ALL 19769 TA+ Norel        0
dtype: int64
Dropping 0 axis-1 slices ...
[[-176. -137.  -48. ...,  -95.  -12. -214.]
 [-284.  -51. -531. ..., -118. -172. -153.]
 [ -81.  -82. -124. ...,   59.   12.  -58.]
 ...,
 [  20.  -11.    0. ...,  -43.  -68.   36.]
 [ 379.  198.  284. ...,  702.  226.  191.]
 [ -60.  -33.  -73. ...,   18.   78.  -37.]] [1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
Computing match score with <function custom_pearson_corr at 0x1108c0378> (1 process) ...
Computing MoEs with 30 samplings ...
Computing p-values and FDRs with 10 permutations ...
	1/10 ...
	2/10 ...
	3/10 ...
	4/10 ...
	5/10 ...
	6/10 ...
	7/10 ...
	8/10 ...
	9/10 ...
	10/10 ...
	10/10 - done.

In [6]:
de_results = differential_gene_expression(phenotypes="http://datasets.genepattern.org/all_aml/all_aml_test.cls", gene_expression="http://datasets.genepattern.org/all_aml/all_aml_test.gct", output_filename="Temp", ranking_method=custom_pearson_corr, max_number_of_genes_to_show=20, number_of_permutations=10, title="Temp_title", random_seed=20121020)

Index(['ALL 19769 TA+ Norel', 'ALL 406 TA+ (ML) Norel', 'ALL 4466 Norel',
       'ALL 1245 TA- Norel', 'ALL 16125 TA- Norel', 'ALL 23368 TA- Norel',
       'ALL R28 (ML) Relap', 'ALL 1234 ML', 'ALL 1305 ML', 'ALL 1421 ML',
       'ALL 1425 ML', 'ALL 1486 ML', 'ALL 1457 ML', 'ALL 1256 TA+ (ML) Norel',
       'ALL 1275 TA+ (ML) Norel', 'ALL 1101 TA- (ML) Norel',
       'ALL 1319 TA- (ML) Norel', 'ALL 522 TA- (ML) Norel', 'ALL SH 6',
       'ALL SH 12', 'ALL SH 15', 'AML 15 (PK) Norel', 'AML 19 (PK) Norel',
       'AML 10 (PK) Relap', 'AML 9 (PK) Relap', 'AML SH 5', 'AML SH 13',
       'AML SH 14', 'AML SH 16', 'AML SH 18', 'AML 17 ML', 'AML 25 ML',
       'AML 11 (ML)', 'AML 12 (ML)', 'AML 5 (ML) Relap'],
      dtype='object')
Index(['ALL 19769 TA+ Norel', 'ALL 406 TA+ (ML) Norel', 'ALL 4466 Norel',
       'ALL 1245 TA- Norel', 'ALL 16125 TA- Norel', 'ALL 23368 TA- Norel',
       'ALL R28 (ML) Relap', 'ALL 1234 ML', 'ALL 1305 ML', 'ALL 1421 ML',
       'ALL 1425 ML', 'ALL 1486 ML', 'ALL 1457 ML', 'ALL 1256 TA+ (ML) Norel',
       'ALL 1275 TA+ (ML) Norel', 'ALL 1101 TA- (ML) Norel',
       'ALL 1319 TA- (ML) Norel', 'ALL 522 TA- (ML) Norel', 'ALL SH 6',
       'ALL SH 12', 'ALL SH 15', 'AML 15 (PK) Norel', 'AML 19 (PK) Norel',
       'AML 10 (PK) Relap', 'AML 9 (PK) Relap', 'AML SH 5', 'AML SH 13',
       'AML SH 14', 'AML SH 16', 'AML SH 18', 'AML 17 ML', 'AML 25 ML',
       'AML 11 (ML)', 'AML 12 (ML)', 'AML 5 (ML) Relap'],
      dtype='object')
AML 5 (ML) Relap           1
AML SH 13                  1
AML 12 (ML)                1
AML 15 (PK) Norel          1
AML 10 (PK) Relap          1
AML 9 (PK) Relap           1
AML SH 5                   1
AML 19 (PK) Norel          1
AML SH 14                  1
AML SH 16                  1
AML SH 18                  1
AML 17 ML                  1
AML 25 ML                  1
AML 11 (ML)                1
ALL 1425 ML                0
ALL 406 TA+ (ML) Norel     0
ALL 4466 Norel             0
ALL 1245 TA- Norel         0
ALL 16125 TA- Norel        0
ALL 23368 TA- Norel        0
ALL R28 (ML) Relap         0
ALL 1234 ML                0
ALL 1305 ML                0
ALL 1421 ML                0
ALL 522 TA- (ML) Norel     0
ALL 1486 ML                0
ALL 1457 ML                0
ALL 1256 TA+ (ML) Norel    0
ALL 1275 TA+ (ML) Norel    0
ALL 1101 TA- (ML) Norel    0
ALL 1319 TA- (ML) Norel    0
ALL SH 6                   0
ALL SH 12                  0
ALL SH 15                  0
ALL 19769 TA+ Norel        0
dtype: int64
Dropping 0 axis-1 slices ...
[[-176. -137.  -48. ...,  -95.  -12. -214.]
 [-284.  -51. -531. ..., -118. -172. -153.]
 [ -81.  -82. -124. ...,   59.   12.  -58.]
 ...,
 [  20.  -11.    0. ...,  -43.  -68.   36.]
 [ 379.  198.  284. ...,  702.  226.  191.]
 [ -60.  -33.  -73. ...,   18.   78.  -37.]] [1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
Computing match score with <function custom_pearson_corr at 0x1139692f0> (1 process) ...
Computing MoEs with 30 samplings ...
Computing p-values and FDRs with 10 permutations ...
	1/10 ...
	2/10 ...
	3/10 ...
	4/10 ...
	5/10 ...
	6/10 ...
	7/10 ...
	8/10 ...
	9/10 ...
	10/10 ...
	10/10 - done.

In [7]:
de_results = differential_gene_expression(phenotypes="http://datasets.genepattern.org/all_aml/all_aml_test.cls", gene_expression="http://datasets.genepattern.org/all_aml/all_aml_test.gct", output_filename="Temp", ranking_method=custom_pearson_corr, max_number_of_genes_to_show=20, number_of_permutations=10, title="Temp_title", random_seed=20121020)

Index(['ALL 19769 TA+ Norel', 'ALL 406 TA+ (ML) Norel', 'ALL 4466 Norel',
       'ALL 1245 TA- Norel', 'ALL 16125 TA- Norel', 'ALL 23368 TA- Norel',
       'ALL R28 (ML) Relap', 'ALL 1234 ML', 'ALL 1305 ML', 'ALL 1421 ML',
       'ALL 1425 ML', 'ALL 1486 ML', 'ALL 1457 ML', 'ALL 1256 TA+ (ML) Norel',
       'ALL 1275 TA+ (ML) Norel', 'ALL 1101 TA- (ML) Norel',
       'ALL 1319 TA- (ML) Norel', 'ALL 522 TA- (ML) Norel', 'ALL SH 6',
       'ALL SH 12', 'ALL SH 15', 'AML 15 (PK) Norel', 'AML 19 (PK) Norel',
       'AML 10 (PK) Relap', 'AML 9 (PK) Relap', 'AML SH 5', 'AML SH 13',
       'AML SH 14', 'AML SH 16', 'AML SH 18', 'AML 17 ML', 'AML 25 ML',
       'AML 11 (ML)', 'AML 12 (ML)', 'AML 5 (ML) Relap'],
      dtype='object')
Index(['ALL 19769 TA+ Norel', 'ALL 406 TA+ (ML) Norel', 'ALL 4466 Norel',
       'ALL 1245 TA- Norel', 'ALL 16125 TA- Norel', 'ALL 23368 TA- Norel',
       'ALL R28 (ML) Relap', 'ALL 1234 ML', 'ALL 1305 ML', 'ALL 1421 ML',
       'ALL 1425 ML', 'ALL 1486 ML', 'ALL 1457 ML', 'ALL 1256 TA+ (ML) Norel',
       'ALL 1275 TA+ (ML) Norel', 'ALL 1101 TA- (ML) Norel',
       'ALL 1319 TA- (ML) Norel', 'ALL 522 TA- (ML) Norel', 'ALL SH 6',
       'ALL SH 12', 'ALL SH 15', 'AML 15 (PK) Norel', 'AML 19 (PK) Norel',
       'AML 10 (PK) Relap', 'AML 9 (PK) Relap', 'AML SH 5', 'AML SH 13',
       'AML SH 14', 'AML SH 16', 'AML SH 18', 'AML 17 ML', 'AML 25 ML',
       'AML 11 (ML)', 'AML 12 (ML)', 'AML 5 (ML) Relap'],
      dtype='object')
AML 5 (ML) Relap           1
AML SH 13                  1
AML 12 (ML)                1
AML 15 (PK) Norel          1
AML 10 (PK) Relap          1
AML 9 (PK) Relap           1
AML SH 5                   1
AML 19 (PK) Norel          1
AML SH 14                  1
AML SH 16                  1
AML SH 18                  1
AML 17 ML                  1
AML 25 ML                  1
AML 11 (ML)                1
ALL 1425 ML                0
ALL 406 TA+ (ML) Norel     0
ALL 4466 Norel             0
ALL 1245 TA- Norel         0
ALL 16125 TA- Norel        0
ALL 23368 TA- Norel        0
ALL R28 (ML) Relap         0
ALL 1234 ML                0
ALL 1305 ML                0
ALL 1421 ML                0
ALL 522 TA- (ML) Norel     0
ALL 1486 ML                0
ALL 1457 ML                0
ALL 1256 TA+ (ML) Norel    0
ALL 1275 TA+ (ML) Norel    0
ALL 1101 TA- (ML) Norel    0
ALL 1319 TA- (ML) Norel    0
ALL SH 6                   0
ALL SH 12                  0
ALL SH 15                  0
ALL 19769 TA+ Norel        0
dtype: int64
Dropping 0 axis-1 slices ...
[[-176. -137.  -48. ...,  -95.  -12. -214.]
 [-284.  -51. -531. ..., -118. -172. -153.]
 [ -81.  -82. -124. ...,   59.   12.  -58.]
 ...,
 [  20.  -11.    0. ...,  -43.  -68.   36.]
 [ 379.  198.  284. ...,  702.  226.  191.]
 [ -60.  -33.  -73. ...,   18.   78.  -37.]] [1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
Computing match score with <function custom_pearson_corr at 0x1110d7e18> (1 process) ...
Computing MoEs with 30 samplings ...
Computing p-values and FDRs with 10 permutations ...
	1/10 ...
	2/10 ...
	3/10 ...
	4/10 ...
	5/10 ...
	6/10 ...
	7/10 ...
	8/10 ...
	9/10 ...
	10/10 ...
	10/10 - done.

In [38]:
de_results = differential_gene_expression(phenotypes="http://datasets.genepattern.org/all_aml/all_aml_test.cls", gene_expression="http://datasets.genepattern.org/all_aml/all_aml_test.gct", output_filename="Temp", ranking_method=custom_pearson_corr, max_number_of_genes_to_show=20, number_of_permutations=10, title="Temp_title", random_seed=20121020)

Index(['ALL 19769 TA+ Norel', 'ALL 406 TA+ (ML) Norel', 'ALL 4466 Norel',
       'ALL 1245 TA- Norel', 'ALL 16125 TA- Norel', 'ALL 23368 TA- Norel',
       'ALL R28 (ML) Relap', 'ALL 1234 ML', 'ALL 1305 ML', 'ALL 1421 ML',
       'ALL 1425 ML', 'ALL 1486 ML', 'ALL 1457 ML', 'ALL 1256 TA+ (ML) Norel',
       'ALL 1275 TA+ (ML) Norel', 'ALL 1101 TA- (ML) Norel',
       'ALL 1319 TA- (ML) Norel', 'ALL 522 TA- (ML) Norel', 'ALL SH 6',
       'ALL SH 12', 'ALL SH 15', 'AML 15 (PK) Norel', 'AML 19 (PK) Norel',
       'AML 10 (PK) Relap', 'AML 9 (PK) Relap', 'AML SH 5', 'AML SH 13',
       'AML SH 14', 'AML SH 16', 'AML SH 18', 'AML 17 ML', 'AML 25 ML',
       'AML 11 (ML)', 'AML 12 (ML)', 'AML 5 (ML) Relap'],
      dtype='object')
Index(['ALL 19769 TA+ Norel', 'ALL 406 TA+ (ML) Norel', 'ALL 4466 Norel',
       'ALL 1245 TA- Norel', 'ALL 16125 TA- Norel', 'ALL 23368 TA- Norel',
       'ALL R28 (ML) Relap', 'ALL 1234 ML', 'ALL 1305 ML', 'ALL 1421 ML',
       'ALL 1425 ML', 'ALL 1486 ML', 'ALL 1457 ML', 'ALL 1256 TA+ (ML) Norel',
       'ALL 1275 TA+ (ML) Norel', 'ALL 1101 TA- (ML) Norel',
       'ALL 1319 TA- (ML) Norel', 'ALL 522 TA- (ML) Norel', 'ALL SH 6',
       'ALL SH 12', 'ALL SH 15', 'AML 15 (PK) Norel', 'AML 19 (PK) Norel',
       'AML 10 (PK) Relap', 'AML 9 (PK) Relap', 'AML SH 5', 'AML SH 13',
       'AML SH 14', 'AML SH 16', 'AML SH 18', 'AML 17 ML', 'AML 25 ML',
       'AML 11 (ML)', 'AML 12 (ML)', 'AML 5 (ML) Relap'],
      dtype='object')
AML 5 (ML) Relap           1
AML SH 13                  1
AML 12 (ML)                1
AML 15 (PK) Norel          1
AML 10 (PK) Relap          1
AML 9 (PK) Relap           1
AML SH 5                   1
AML 19 (PK) Norel          1
AML SH 14                  1
AML SH 16                  1
AML SH 18                  1
AML 17 ML                  1
AML 25 ML                  1
AML 11 (ML)                1
ALL 1425 ML                0
ALL 406 TA+ (ML) Norel     0
ALL 4466 Norel             0
ALL 1245 TA- Norel         0
ALL 16125 TA- Norel        0
ALL 23368 TA- Norel        0
ALL R28 (ML) Relap         0
ALL 1234 ML                0
ALL 1305 ML                0
ALL 1421 ML                0
ALL 522 TA- (ML) Norel     0
ALL 1486 ML                0
ALL 1457 ML                0
ALL 1256 TA+ (ML) Norel    0
ALL 1275 TA+ (ML) Norel    0
ALL 1101 TA- (ML) Norel    0
ALL 1319 TA- (ML) Norel    0
ALL SH 6                   0
ALL SH 12                  0
ALL SH 15                  0
ALL 19769 TA+ Norel        0
dtype: int64
Dropping 0 axis-1 slices ...
[[-176. -137.  -48. ...,  -95.  -12. -214.]
 [-284.  -51. -531. ..., -118. -172. -153.]
 [ -81.  -82. -124. ...,   59.   12.  -58.]
 ...,
 [  20.  -11.    0. ...,  -43.  -68.   36.]
 [ 379.  198.  284. ...,  702.  226.  191.]
 [ -60.  -33.  -73. ...,   18.   78.  -37.]] [1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
Computing match score with <function custom_pearson_corr at 0x109e94d90> (1 process) ...
Computing MoEs with 30 samplings ...
Computing p-values and FDRs with 10 permutations ...
	1/10 ...
	2/10 ...
	3/10 ...
	4/10 ...
	5/10 ...
	6/10 ...
	7/10 ...
	8/10 ...
	9/10 ...
	10/10 ...
	10/10 - done.

In [5]:
de_results

                     Score   0.95 MoE   p-value       FDR
Name
U46499_at         0.824544        NaN  0.000014  0.002381
X95735_at         0.775671        NaN  0.000014  0.002381
M63959_at         0.769661        NaN  0.000014  0.002381
L09209_s_at       0.747575        NaN  0.000014  0.002381
M84526_at         0.740053        NaN  0.000014  0.002381
X17042_at         0.731650        NaN  0.000014  0.002381
M14636_at         0.726834        NaN  0.000014  0.002381
M22960_at         0.726074        NaN  0.000014  0.002381
U59878_at         0.720990        NaN  0.000014  0.002381
M23197_at         0.716258        NaN  0.000014  0.002381
X61587_at         0.711473        NaN  0.000014  0.002381
M27891_at         0.706726        NaN  0.000014  0.002381
X05908_at         0.704679        NaN  0.000014  0.002381
U60319_at         0.700721        NaN  0.000014  0.002381
M32304_s_at       0.690860        NaN  0.000014  0.002381
X12447_at         0.688066        NaN  0.000014  0.002381
M19507_at         0.686567        NaN  0.000014  0.002381
X16546_at         0.684451  0.0291901  0.000014  0.002381
M63138_at         0.682516        NaN  0.000014  0.002381
L09717_at         0.680947        NaN  0.000014  0.002381
Z29067_at         0.673727        NaN  0.000014  0.002381
L41559_at         0.672050        NaN  0.000014  0.002381
J02783_at         0.662745        NaN  0.000014  0.002381
U05572_s_at       0.654224        NaN  0.000014  0.002381
X52056_at         0.653856        NaN  0.000014  0.002381
M16038_at         0.649158        NaN  0.000014  0.002381
D11327_s_at       0.643376        NaN  0.000014  0.002381
M62762_at         0.639631        NaN  0.000014  0.002381
U10868_at         0.637952        NaN  0.000014  0.002381
X62654_rna1_at    0.635277        NaN  0.000014  0.002381
...                    ...        ...       ...       ...
X98833_rna1_at   -0.592751        NaN  0.000014  0.002273
X97267_rna1_s_at -0.593663  0.0261791  0.000014  0.002273
X67951_at        -0.595051        NaN  0.000014  0.002273
M28170_at        -0.597141  0.0345944  0.000014  0.002273
J02874_at        -0.597197        NaN  0.000014  0.002273
U79277_at        -0.597840        NaN  0.000014  0.002273
X69111_at        -0.599072        NaN  0.000014  0.002273
M65214_s_at      -0.605832        NaN  0.000014  0.002273
M98045_at        -0.617877        NaN  0.000014  0.002273
U88964_at        -0.620409        NaN  0.000014  0.002273
U07139_at        -0.625601        NaN  0.000014  0.002273
Y08612_at        -0.625998        NaN  0.000014  0.002273
HG1612-HT1612_at -0.628046        NaN  0.000014  0.002273
X58529_at        -0.630023        NaN  0.000014  0.002273
X59417_at        -0.633434        NaN  0.000014  0.002273
Z49194_at        -0.633840        NaN  0.000014  0.002273
X66401_cds1_at   -0.640256        NaN  0.000014  0.002273
M33680_at        -0.642720        NaN  0.000014  0.002273
U51240_at        -0.645048        NaN  0.000014  0.002273
D30742_at        -0.645910  0.0257204  0.000014  0.002273
M31211_s_at      -0.667406        NaN  0.000014  0.002273
D88270_at        -0.674907  0.0228069  0.000014  0.002273
M92287_at        -0.675219        NaN  0.000014  0.002273
U05259_rna1_at   -0.675521        NaN  0.000014  0.002273
U29175_at        -0.680743  0.0185103  0.000014  0.002273
M11722_at        -0.718129        NaN  0.000014  0.002273
M31523_at        -0.722196  0.0228747  0.000014  0.002273
M84371_rna1_s_at -0.729815        NaN  0.000014  0.002273
J05243_at        -0.737162        NaN  0.000014  0.002273
M89957_at        -0.775614        NaN  0.000014  0.002273

[7129 rows x 4 columns]